{% set opencastle_require_main = 'bundles/opencastlesecurity/js/opencastle_security_players.js' %}

{% extends 'OpenCastleCoreBundle::layout.html.twig' %}

{% block opencastle_content %}


    <section class="top">
        <div class="row">
            <div class="col s12">
                <h3>Bienvenue joueur d'OpenCastle</h3>
                <p>Accueil</p>
            </div>
        </div>
    </section>

    <section class="middle" style="min-height: 250px; margin-bottom: 20px;">
        <div class="container">
            <div class="col s12" style="background-color: grey;">
                <h1>Votre e-mail a bien été validé</h1>
            </div>
        </div>
    </section>

{% endblock %}